{
  "useTabs": false,
  "printWidth": 73,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "semi": false,
  "bracketSpacing": true
}
